/* .postDiv {
    align-items: center;
} */

.post {
    margin: 0 200px;
    background-color: #eff3f4;
    /* width: 1500px; */
    /* border-bottom: solid 1px #eff3f4; */
    border-bottom: solid 1px #eee;
}

.image {
    max-width: 500px;
    max-height: 500px;
    padding: 30px;
}

/* .image {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    padding: 30px;
} */
/* 
.centerImg {
    text-align: center;
} */