.modal {
    position: fixed;
    inset: 0;
    background: #00000040;
    display: grid;
    place-items: center;
    z-index: 50;
}

.modalIn {
    background: #fff;
    padding: 16;
    border-radius: 8;
    width: 420;
    height: 700;
}